body{ background-color:#000000}
.bo1{
	margin-top: 10px;
}
.bo__item{
	float: left;
	margin:10px;
	padding: 10px;
}

.description {
	color: #fff;
	text-align: center;
	text-decoration:none;
}

